.verificationModalHeader {
  padding: 2rem;
}

.verificationModalContent {
  padding: 1rem;
}

.verificationModalFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
